<section class="container">
	<!-- NAVIGATION header -->
	<div ng-include="'views/nav.html'"></div>
	<!-- Carousel
    ================================================== -->
	<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
	
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="first-slide"
					src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
					alt="First slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>Car Reservation.</h1>
						<p>If you want to reserve a car ! It is here</p>
						<p>
							<a class="btn btn-lg btn-primary" href="#" role="button">Sign
								up today</a>
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="second-slide"
					src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
					alt="Second slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>We have a car you need .</h1>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget
							quam. Donec id elit non mi porta gravida at eget metus. Nullam id
							dolor id nibh ultricies vehicula ut id elit.</p>
						<p>
							<a class="btn btn-lg btn-primary" href="#" role="button">Browse
								our cars lists</a>
						</p>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="third-slide"
					src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
					alt="Third slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>Contact us.</h1>
						<p>Together we can find what you need</p>
						<p>
							<a class="btn btn-lg btn-primary" href="#" role="button">Contact
								us</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button"
			data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"
			aria-hidden="true"></span> <span class="sr-only">Previous</span>
		</a> <a class="right carousel-control" href="#myCarousel" role="button"
			data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div> -->
	<!-- /.carousel -->

	<!-- Marketing messaging and featurettes
    ================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<br /> <br /> <br /> <br /> <br /> <br />
	<!-- Filter by marque -->
	<div>
		<h3>Filter by Marque</h3><input type="text" name="marque" ng-model="marque"
			placeholder="Filter by marque" />
	</div>
	<!-- List of Car that can be reserve -->
	<section>
		<h3>Cars</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Id</td>
					<td>Marque</td>
					<td>Matricule</td>
					<td>Place</td>
					<td>Disponibilite</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="car in cars | filter: marque">
					<td>{{ car.id }}</td>
					<td>{{ car.marque | uppercase}}</td>
					<td>{{ car.matricule | uppercase }}</td>
					<td>{{car.place}}</td>
					<td class="dispo_{{car.disponibilite}}">{{ getDispo(car.disponibilite) }}</td>
					<td>
						<button ng-click="reserve(car)" class="btn btn-primary"
							ng-disabled="!car.disponibilite">Rerserve</button>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</section>
